<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Amit Dhoju">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Assignment</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/all.css" rel="stylesheet">
    <script src="./../vendor/jquery/jquery.min.js"></script>
    <script src="./../vendor/font-awesome/all.js"></script>
    <style>
            option:disabled {
            color: #990000;
            /* }
        
        input {
            text-align: center
        }*/
    </style>
</head>

<body>
    <%- include ./partials/navbar%>

        <div class="container-fluid" style="padding-top: 30px">
            <%-body %>
        </div>
        <!-- Footer -->
        <%- include ./partials/footer%>
            <!-- Bootstrap core JavaScript -->
            <script src="./../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>